%h1 Recipes
= form_tag(search_recipes_path, method: :get, id: 'search_recipe') do
  = text_field_tag :search
  = submit_tag 'search'
- @recipes.each do |recipe|
  = link_to recipe_path(recipe) do
    = recipe.name
